* {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.border {
    border-bottom: 2px solid black;
    display: inline-block;
    width: auto;
}

p {
    font-size: 18px;
    max-width: 600px;
    text-indent: 16px;
}

.shadow-h1 {
    text-shadow: 3px 3px 12px rgb(95, 196, 255) , -3px -3px 12px rgb(0, 0, 255);
}

.shadow-h2 {
    text-shadow: 2px 2px 20px rgb(41, 41, 41);
}

.font {
    font-size: 3em;
}

.image {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    border-radius: 100%;
    margin: 12px;
    display: block;
    box-shadow: 0px 0px 25px rgb(69, 69, 71);
}

@media (max-width: 768px) {
    .font {
        font-size: 2em;
    }
    .image {
        width: 150px;
        height: 150px;
    }
    p {
        font-size: 16px;
        max-width: 500px; 
        text-indent: 16px;
    }
}

mark {
    background-color: greenyellow;
}

.weight {
    font-weight: bold;
}

a:hover {
    color: #007acc;
    text-decoration: underline;
}
